<html>
<body>
	<p>Title: {{book.tittle}}</p>
	<p>Summary: {{book.summary}}</p>
	<p>Author: {{book.author}}</p>
	<p>Editorial: {{book.editorial}}</p>
	<p>Publication Year: {{book.publicationYear}}</p>
	
	<br>
	
	{{#comments}}
	<p>Name: {{name}}</p>	
	<p>Message: {{message}}</p>
	<p>Score: {{score}}</p>	
	{{#id}}		
	<a href="/book/{{book.id}}/comment/{{id}}">Borrar comentario</a><br>
	{{/id}}
	<br>
	{{/comments}}
	
	<br>
	
	<form action="/book/{{book.id}}/comment" method="get">
		<p>Name:</p>
		<input type='text' name='name'/>
		<p>Message:</p>
		<textarea name='message' rows=5 cols=40></textarea>
		<p>Author:</p>
		<input type='text' name='author'/>
		<p>Score</p>
		<input type='text' name='score'/>
		<br><br>
		<input type='submit' value='Save'/>
		<br><br>		
	</form>
		
	<a href="/">Back</a>
</body>
</html>